.headerControll {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-top: 13px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}
.headerControll > div {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    padding: 10px;
}
.box{
    background: white;
    margin-bottom: 25px;
    padding: 10px 20px;
    border: 12px solid transparent;
    border-top: 2px solid #607d8b;
    border-radius: 8px;
    text-align: left;
}
.titleTask{
    text-align: left;
    height: max-content;
    margin: 10px 0px;
}
.titleTask > p{
    margin: 0;
    background: #607d8b;
    padding: 5px 8px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
.textTask > p {
    max-height: 80px;
    overflow: hidden;
    margin: 18px 0;
    text-align: center;
    word-break: break-word;
}
.headBox {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.headBox > span:first-of-type {
    margin-left: 8px;
    user-select: none;
}
.titleStory{
    position: relative;
    font-size: 13px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: auto !important;
    margin-left: 10px;
}
.titleStory > span {
    float: right;
    opacity: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    color: white;
    border-radius: 4px;
    background: rgb(109, 133, 223);
    cursor: pointer;
    user-select: none;
}
.listTasks {
    padding-left: 17px;
}
.listTasks > div{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.listTasks > div > input{
    margin-right: 10px;
}
.listTasks > div > label {
    overflow: hidden;
    text-overflow: ellipsis;
}
.defaultText {
    font-size: 20px;
    font-weight: 600;
    color: #867f7f;
    padding: 30px 10px;
    user-select: none;
}
/* Start Media Query */
@media screen and (max-width: 500px){
    .tableItems {
        padding: 0px 10px 0px 20px;
    }
    .TableTodo thead tr:last-child {
        display: flex;
        flex-wrap: wrap;
    }
}
/* End Media Query  */