.ItemList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ItemList > textarea {
    width: 80%;
    margin-right: 20px;
    resize: unset;
    background: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #CCC;
}
.rainbow {
    display: flex;
    overflow: auto hidden;
    margin: 20px 0px;
    padding: 10px
}
.rainbow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.rainbow::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}
.rainbow::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #737171;
}
.rainbow > div.item{
    flex-basis: 33px;
    flex-shrink: 0;
    border: 1px solid white;
}
.item:not(:first-child) span::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    background: inherit;
    border-radius: 50%;
    border: 2px solid white;
    border-right-color: inherit;
    border-bottom-color: inherit;
    transform: translate(-78%, -50%) rotateZ(-45deg);
}
.rainbow > .item > span {
    position:relative;
    flex-basis: 100%;
    display: flex;
    height: 60px;
    color: #717171;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}
.rainbow > .item > span:hover {
    z-index: 3;
    transform: scaleX(1.13);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.isCompleted {
    filter: blur(0.5px);
}
.isCompleted::after {
    position: absolute;
    content: '___ ___ __ ';
    color: #2a2929;
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: translate(-5%,10%) rotateZ(165deg);

}